* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f9f9f9;
  background-image: url("https://bing.ee123.net/img/"); */
}

/* 
.footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f9f9;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.apiTxt {
  font-size: 13px;
  font-weight: 500;
} */


/* 响应式设计 */
@media screen and (max-width: 768px) {
  /* body {
    background-image: url("https://bing.ee123.net/img/?w=768x1280");
  } */

}