* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.focused {
  background-size: cover;
  backdrop-filter: blur(13px); /* 增加模糊半径以实现更优雅的效果 */
  transition: background-size 0.5s ease, backdrop-filter 0.5s ease;
  background-repeat: no-repeat;
}

/* 响应式设计 */
@media screen and (max-width: 768px) {
}
